<%# todos los partials van con _ al principio y aqui va lo que quiera renderizar en todas las paginas%>
<%= link_to products_path do%>
<h1><%= t('shared._header.title')%></h1>
<% end %>

<%= link_to t('shared._header.newProduct') , new_product_path%>