<h2><%= t('.title')%></h2>
<%# En la linea2 usamos t() que seria el metodo traductor con el . genera rutas relativas %>
<%# En la linea 6 Creamos un formulario, y lo traemos de un parse _ DRY (para no repetir codigo)%>

<%= render 'form' %>